// COLORS

$white: #fff;

$grey-50: #f8f8fa;
$grey-100: #f3f4f6;
$grey-200: #e5e7eb;
$grey-400: #ADB6C8;
$grey-900: #3c4557;

$blue-700: #09224f;
$blue-600: #072863;
$blue-500: #073382;
$blue-400: #5888DB;
$blue-100: #dbeafe;

$teal-400: #0a7fae;

$green-400: #14b59a;
